@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the Jokes Rating App</h1>

<div class="mt-5"></div>
<div class="row">
    <div class="col-8 offset-2 align-content-center text-center">
        <RatingDadJokesWeb.Components.JokeRating />
    </div>
</div>