@page "/toprated"

<div class="card col-12">
    <div class="card-header">
        <h3>Top Rated Jokes</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <RatingDadJokesWeb.Components.TopRatedJokesList />
        </div>
    </div>
</div>